<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Añadir anuncio de artista</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        body {
            background: linear-gradient(to bottom right, #8e12ab, #dc4e4f) no-repeat;
            background-size: 100vw 200vh; 
        }

        h1,
        label {
            color: white;
        }

        input[type="text"],
        input[type="checkbox"] {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #555;
            font-size: 16px;
            margin-top: 5px;
            padding: 10px 15px;
            width: 100%;
        }

        input[type="submit"] {
            background-color: red;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            margin-top: 10px;
            padding: 10px 15px;
        }

        @media screen and (max-width: 768px) {

            input[type="text"],
            input[type="checkbox"],
            input[type="submit"] {
                font-size: 14px;
                padding: 8px 12px;
            }
        }
    </style>

</head>

<body>
    <div th:replace="Home :: Home"></div>
    <div class="container">

        <h1 class="p-3">Añadir anuncio de artista</h1>

        <form th:action="@{/saveAnuncioArtista}" th:object="${anu}" method="post">
            <div>
                <input id="artista" name="artista" type="hidden" th:field="${artista.id}"
                    class="form-control input-sm" />

            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="pseudonimoArtista">Nombre del artista</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{pseudonimoArtista}" id="pseudonimoArtista"
                            class="form-control input-sm" required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="ubicacion">Ubicación</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{ubicacion}" id="ubicacion" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="precio">Precio</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{precio}" id="precio" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="descripcionArtista">Descripción del artista</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{descripcionArtista}" id="descripcionArtista"
                            class="form-control input-sm" required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Estilo</label>
                    <div class="col-md-6">

                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}"
                                    value="REGGAETON" />Reggaetón
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}" value="POP" />Pop
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}" value="ROCK" />Rock
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}" value="TRAP" />Trap
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}"
                                    value="HIPHOP" />Hip Hop
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}"
                                    value="FLAMENCO" />Flamenco
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}" value="JAZZ" />Jazz
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{estilo}"
                                    value="ELECTRONICA" />Electrónica
                            </label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-md-2">
                    <button class="btn btn-success">Crear</button>
                </div>
            </div>
        </form>

    </div>

    <script th:inline="javascript">
        window.onload = function () {

            var msg = [[${ message }]];
            if (msg == "Save Failure") {
                Command: toastr["error"]("Ha ocurrido un error, no se pudo guardar el anuncio")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
        }
    </script>
    <footer th:replace="Home :: Footer"></footer>
</body>

</html>