<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Título</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        body {
            background-image: linear-gradient(to bottom right, #8e12ab, #dc4e4f);
            height: 100vh;
        }

        h1 {
            color: white
        }

        table.table-bordered tr:first-child th {
            background-color: #6B3D6E;
            color: white;
        }

        table.table-bordered tr:not(:first-child) td {
            background-color: #fff;
        }

        div {
            color: white;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div th:replace="Home :: Home"></div>
    <div class="container">
        <h1 class="p-3">Perfil artista</h1>

        <form th:object="${art}">

            <div class="row">
                <div class="form-group col-md-12">
                    <div class="col-md-6">
                        <input type="hidden" th:field="*{id}" class="form-control input-sm" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="firstName">Nombre</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{firstName}" id="firstName" class="form-control input-sm"
                            required="required" readonly/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="lastName">Apellidos</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{lastName}" id="lastName" class="form-control input-sm"
                            required="required" readonly/>
                    </div>
                </div>
            </div>
			
            <div class="row">
				<td th:text="${art.getGender()}"></td>
                <div class="form-group col-md-12">
                    <label class="col-md-3">Género: <td th:text="${art.getGender()}"></td></label>
					<td th:text="${art.getGender()}"></td>
					
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Fecha de nacimiento</label>
                    <div class="col-md-6">
                        <input type="date" th:field="*{dob}" id="dob" class="form-control input-sm"
                            required="required" readonly/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Email</label>
                    <div class="col-md-6">
                        <input type="email" th:field="*{email}" id="email" class="form-control input-sm"
                            required="required" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Nombre artístico</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{nombre_artistico}" id="nombre_artistico"
                            class="form-control input-sm" required="required" readonly/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3">Categoría artística</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{categoria_artistica}" id="categoria_artistica"
                            class="form-control input-sm" required="required" readonly/>
                    </div>
                </div>
            </div>

        </form>
    </div>

</body>

</html>