<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrarse como arrendador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        body {
            background: linear-gradient(to bottom right, #8e12ab, #dc4e4f) no-repeat;
            background-size: 100vw 200vh; 
        }

        h1 {
            color: white
        }

        table.table-bordered tr:first-child th {
            background-color: #6B3D6E;
            color: white;
        }

        table.table-bordered tr:not(:first-child) td {
            background-color: #fff;
        }

        div {
            color: white;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div th:replace="Home :: Home"></div>
    <div class="container">

        <h1 class="p-3">Registrarse como arrendador</h1>

        <form th:action="@{/saveArrendador}" th:object="${arr}" method="post">
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="urlImagen">URL Imagen de Perfil</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{urlImagen}" id="urlImagen" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="firstName">Nombre</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{firstName}" id="firstName" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="lastName">Apellido/s</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{lastName}" id="lastName" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Género</label>
                    <div class="col-md-6">

                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{gender}"
                                    value="Male" />Masculino
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{gender}"
                                    value="Female" />Femenino
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{gender}" value="Other" />Otro
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Fecha de nacimiento</label>
                    <div class="col-md-6">
                        <input type="date" th:field="*{dob}" id="dob" max="{{ 'now'|date('Y-m-d') }}" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>
            <script>
                var now = new Date();
                var maxFecha = now.toISOString().split('T')[0];
                document.getElementById("dob").max = maxFecha;
            </script>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Email</label>
                    <div class="col-md-6">
                        <input type="email" th:field="*{email}" id="email" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Link a redes</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{links}" id="links" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Contraseña</label>
                    <div class="col-md-6">
                        <input type="password" th:field="*{password}" id="password" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3">Nombre del local</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{nombreLocal}" id="nombreLocal" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3">Dirección del local</label>
                    <div class="col-md-6">
                        <input type="text" th:field="*{direccion}" id="direccion" class="form-control input-sm"
                            required="required" />
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-2">
                    <button class="btn btn-success">Crear</button>
                </div>
            </div>
        </form>

    </div>

    <script th:inline="javascript">
        window.onload = function () {

            var msg = [[${ message }]];
            if (msg == "Save Failure") {
                Command: toastr["error"]("Ha ocurrido un error, no se pudo guardar el arrendador")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
        }
    </script>
    <footer th:replace="Home :: Footer"></footer>
</body>

</html>