<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Artist List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    <div th:replace="Home :: Home"></div>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Message Body</th>
            <th>User Sender</th>
            <th>User Receiver</th>
        </tr>

        <tr th:each="Message : ${mensajes}">
            <td th:text="${Message.id}"></td>
            <td th:text="${Message.messageBody}"></td>
            <td th:text="${Message.userSender.email}"></td>
            <td th:text="${Message.userReceiver.email}"></td>
        </tr>
    </table>



    <form method="post" th:action="@{/saveMessage/}+${emailReceiverS}">
        <input type="text" name="bodyMessage">
        <input type="submit" value="Enviar">
    </form>

</body>

</html>