<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anuncios de arrendadores</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        body {
            background: linear-gradient(to bottom right, #8e12ab, #dc4e4f) no-repeat;
            background-size: 100vw 200vh; 
        } 
        h1{
            color: white
        }
        table.table-bordered tr:first-child th {
             background-color: #6B3D6E;
             color: white;
        }

        table.table-bordered tr:not(:first-child) td {
            background-color: #fff;
        }
        a{
        color: white;
        }
        a:hover {
        color: white;
        text-decoration: none;
        }
    </style>
</head>
<body>
    <div th:replace="Home :: Home"></div>
    <div class="container">

        <h1 th:text="${message}"></h1>

        <h1 class="p-3">Anuncios de arrendadores</h1>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-4" th:each="Anuncio : ${anuList}" style="margin-bottom: 10px;">
                <div class="card">
                    <img class="card-img-top" th:src="${Anuncio.arrendador.urlImagen}" style="width: 100%; max-height: 200px; object-fit: cover;"alt="imagen perfil arrendador">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${Anuncio.nombreLocal}"></h5>
                        <p class="card-text" th:text="${Anuncio.ubicacion}"></p><p class="card-text" th:text="${Anuncio.precio}"></p>
                        <a class="btn btn-primary" th:href="@{/anuncioArrendador/{id}(id=${Anuncio.id})}">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
            <!--
            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Nombre local</th>
                    <th>Ubicación</th>
                    <th>Precio</th>
                    <th>Descripción arrendador</th>
                    <th>Estilo</th>
                    <th>Estado</th>
                    <th>ID_Artista</th>
                    <th>Editar</th>
                </tr>

                    <tr th:each="Anuncio : ${anuList}">
                        <td th:text="${Anuncio.id}"></td>
                        <td th:text="${Anuncio.nombreLocal}"></td>
                        <td th:text="${Anuncio.ubicacion}"></td>
                        <td th:text="${Anuncio.precio}"></td>
                        <td th:text="${Anuncio.descripcionArrendador}"></td>
                        <td th:text="${Anuncio.estilo}"></td>
                        <td th:text="${Anuncio.estaAceptado}"></td>
                        <td th:text="${Anuncio.artista_accept_id}"></td>

                        <td><button type="button" class="btn btn-success">
                            <a th:href="@{/editAnuncioArrendador/{id}(id=${Anuncio.id})}">Editar</a>
                        </button></td>
                      
                    </tr>

            </table>
            -->
        <button type="button" class="btn btn-primary btn-block">
            <a href="/addAnuncioArrendador">Añadir anuncio</a>
        </button>

    </div>

    <script th:inline="javascript">
        window.onload = function() {

            var msg = [[${message}]];
            if (msg == "Anuncio creado con éxito") {
				Command: toastr["success"]("Anuncio creado con éxito")
			} else if (msg == "Anuncio borrado con éxito") {
				Command: toastr["success"]("Anuncio borrado con éxito")
			} else if (msg == "Ha ocurrido un error, no se ha podido borrar el anuncio") {
			    Command: toastr["error"]("Ha ocurrido un error, no se ha podido borrar el anuncio")
			} else if (msg == "Anuncio actualizado con éxito") {
				Command: toastr["success"]("Anuncio actualizado con éxito")
			} else if (msg == "No tienes permiso para editar este anuncio.") {
                Command: toastr["warning"]("No tienes permiso para editar este anuncio.")
            }   

			toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }
	    }
    </script>
    <footer th:replace="Home :: Footer"></footer>
</body>
</html>