<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Anuncios de arrendadores</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>

        body {
            background-image: linear-gradient(to bottom right , #8e12ab, #dc4e4f);
            height: 100vh;
        } 
        h1{
            color: white
        }
        table.table-bordered tr:first-child th {
             background-color: #6B3D6E;
             color: white;
        }

        table.table-bordered tr:not(:first-child) td {
            background-color: #fff;
        }
        a {
        color: black;

        }

        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div th:replace="Home :: Home"></div>
    <div class="container">

        <h1 class="p-3">Anuncios de arrendadores</h1>

        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Nombre Local</th>
                <th>Ubicación</th>
                <th>Precio</th>
                <th>Descripcion arrendador</th>
                <th>Estilo</th>
                <th>Estado</th>
                <th>Chat</th>
                <th>Aceptar</th>

            </tr>

            <tr th:each="Anuncio : ${anuList}">
                <td><a th:href="@{/anuncioArrendador/{id}(id=${Anuncio.id})}">[[${Anuncio.id}]]</a></td>
                <td th:text="${Anuncio.nombreLocal}"></td>
                <td th:text="${Anuncio.ubicacion}"></td>
                <td th:text="${Anuncio.precio}"></td>
                <td th:text="${Anuncio.descripcionArrendador}"></td>
                <td th:text="${Anuncio.estilo}"></td>
                <td th:text="${Anuncio.estaAceptado}"></td>
                <td><button type="button" class="btn btn-success">
                        <a th:href="@{/viewMessages/{email}(email=${Anuncio.Arrendador.email})}">Chat</a>
                    </button></td>
                <td><button type="button" class="btn btn-danger">
                        <a th:href="@{/aceptarAnuncioArrendador/{id}(id=${Anuncio.id})}">Aceptar</a>
                    </button></td>
            </tr>

        </table>


    </div>

    <script th:inline="javascript">
        window.onload = function () {

            var msg = [[${ message }]];
            if (msg == "Anuncio creado con éxito") {
                Command: toastr["success"]("Anuncio creado con éxito")
            } else if (msg == "Anuncio borrado con éxito") {
                Command: toastr["success"]("Anuncio borrado con éxito")
            } else if (msg == "Ha ocurrido un error, no se ha podido borrar el anuncio") {
                Command: toastr["error"]("Ha ocurrido un error, no se ha podido borrar el anuncio")
            } else if (msg == "Anuncio actualizado con éxito") {
                Command: toastr["success"]("Anuncio actualizado con éxito")
            }

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
    </script>

</body>

</html>