<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Anuncios de artistas</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        
        body {
            background: linear-gradient(to bottom right, #8e12ab, #dc4e4f);
            background-size: 100vw 200vh;
        }
    
        h1 {
            color: white
        }

        table.table-bordered tr:first-child th {
            background-color: #6B3D6E;
            color: white;
        }

        table.table-bordered tr:not(:first-child) td {
            background-color: #fff;
        }
        a{
        color: black;
        }
        
        a:hover {
        color: lightgray;
        text-decoration: none;
        }
    </style>
</head>

<body>
    <div th:replace="Home :: Home"></div>
    <div class="container">

        <h1 class="p-3">Anuncios de artistas</h1>
        <br>
            <form class="form-inline" th:action="@{/viewAnunciosArtista}">
                <div class="form-group mb-2">
                    <label>Filtrar:</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Búsqueda por estilo, nombre..." required>
                </div>
                <input type="submit" class="btn btn-info mb-2" value="Buscar">
                <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">
            </form>
    </br>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-4" th:each="Anuncio : ${anuList}" style="margin-bottom: 10px;">
                <div class="card">
                    <img class="card-img-top" th:src="${Anuncio.artista.urlImagen}" style="width: 100%; max-height: 200px; object-fit: cover;"alt="imagen perfil artista">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${Anuncio.pseudonimoArtista}"></h5>
                        <p class="card-text" th:text="${Anuncio.descripcionArtista}"></p><p class="card-text" th:text="${Anuncio.precio}"></p>
                        <a class="btn btn-primary" th:href="@{/anuncioArtista/{id}(id=${Anuncio.id})}">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block">
            <a href="/addAnuncioArtista">Añadir anuncio</a>
        </button>

    </div>

    <script th:inline="javascript">
        window.onload = function () {

            var msg = [[${ message }]];
            if (msg == "Save Success") {
                Command: toastr["success"]("Anuncio created successfully!!")
            } else if (msg == "Delete Success") {
                Command: toastr["success"]("Anuncio deleted successfully!!")
            } else if (msg == "Delete Error") {
                Command: toastr["error"]("Some error occurred, couldn't delete Anuncio")
            } else if (msg == "Edit Success") {
                Command: toastr["success"]("Anuncio updated successfully!!")
            } else if (msg == "No tienes permiso para editar este anuncio.") {
                Command: toastr["warning"]("No tienes permiso para editar este anuncio.")
            }

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
    </script>
    <script type="text/javascript">
        function limpiarCampos(){
            window.location='/viewAnunciosArista';
        }
    </script>
    <footer th:replace="Home :: Footer"></footer>
</body>

</html>